---
Checks:
  - 'bugprone-*'
  - 'cppcoreguidelines-*'
  - 'concurrency-*'
  - 'misc-*'
  - 'modernize-*'
  - 'performance-*'
  - 'portability-*'
  - 'readability-*'
  - '-modernize-use-trailing-return-type'
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: ''
FormatStyle:     none
User:            jsf81
CheckOptions:    {
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
}
SystemHeaders:   false
...
